[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Iruze
[access "refs/for/refs/*"]
	read = group user/Iruze
	push = group user/Iruze
	label-Code-Review = -2..+2 group user/Iruze
	label-Verified = -1..+1 group user/Iruze
	rebase = group user/Iruze
	removeReviewer = group user/Iruze
	submit = group user/Iruze
[access "refs/heads/*"]
	read = group user/Iruze
	create = group user/Iruze
	push = +force group user/Iruze
	pushMerge = group user/Iruze
[access "refs/tags/*"]
	push = group user/Iruze
	push = +force group user/Iruze
